table {
    width: 100%;
}

.content {
    margin: 0px 0px 0px 0px;
    margin-bottom: 10px;
    overflow-y: scroll;
    width: 100%;
    height: 500px;
}

.seleccionado {
    background-color: brown;
}

.negativo {
    color: red;
}

.positivo {
    color: green;
}

@media screen and (max-width: 768px) {
    table {
        width: 410px;
    }
    .content {
        margin: 0px 0px 0px 0px;
        margin-bottom: 5px;
        overflow-y: scroll;
        width: 100%;
        height: 600px;
    }
    .seleccionado {
        background-color: brown;
    }
    .negativo {
        color: red;
    }
    .positivo {
        color: green;
    }
}