* {
    font-family: "OtomanopeeOne-Regular";
}

.generalCont {
    display: block;
}

@media (max-width: 500px) {
    .generalCont {
        display: grid;
        width: 100%;
        grid-template-rows: 125px auto;
    }
}


/*
#8F3644
#DB2E49
#516ADB
#448F50
#7FDB8F
*/